.not-found-container img {
    margin: 0;
    padding: 0;
    height: 90vh;
    width: 100vw;
    object-fit: cover;
}

@media (max-width: 768px) {
    .not-found-container img {
        height: 55vh;
        width: 100%;
    }
}